.root {
    -fx-background-color: #000000;
}

#lableid {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #555555;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #777777;
}

.button:pressed {
    -fx-background-color: #888888;
}